@font-face {
    font-family: 'Exo 2 Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('../assets/fonts/exo-2/Exo2-VariableFont_wght.ttf')
        format('truetype');
}
